.idea
target
.DS_Store
.settings
.vscode
.attach_*

!qualitative-evaluation/csv-json-example/output.json
*.jar
src/test/resources/mapping
*.iml
/src/test/resources/agency-multiple-input/agencyMultipleTestFile.csv
/src/test/resources/agency/agencyTestFile.csv
