## This template reuses and adapts the "mapping query" from the SDM-RDFizer source code (https://github.com/SDM-TIB/SDM-RDFizer) developed by the Scientific Data Management Group at TIB.
## The query is modified to be compliant with the latest RML specification (https://w3id.org/rml).

#set ( $prefixes = $reader.setPrefixes("
    prefix rml: <http://w3id.org/rml/>
    prefix dcat: <http://www.w3.org/ns/dcat#>
    prefix d2rq: <http://www.wiwiss.fu-berlin.de/suhl/bizer/D2RQ/0.1#>
") )

#set($d="$") 
#set($h="#") 
#set($pa="{") 
#set($pc="}")
#set($defaultNamespace = "http://www.cefriel.com/kt/")

#set ( $mappings_content= $reader.getDataframe("
SELECT DISTINCT *
WHERE {

	# Subject -------------------------------------------------------------------------
			?triples_map_id rml:logicalSource ?_source .
			OPTIONAL{?_source rml:source ?data_source .}
			OPTIONAL{
                ?data_source a dcat:Distribution .
				?data_source dcat:accessURL ?access_url . # downloadURL would be better
			}
            OPTIONAL{
                ?data_source a rml:RelativePathSource .
                ?data_source rml:root ?root_folder .
				?data_source rml:path ?path .
			}
			OPTIONAL {?_source rml:referenceFormulation ?ref_form .} # missing in BC page
			OPTIONAL { ?_source rml:iterator ?iterator . }
			# replaced with rml:source OPTIONAL { ?_source rr:tableName ?tablename .}
			# removed rml:query OPTIONAL { ?_source rml:query ?query .}
            # TODO Handle rml:null

			?triples_map_id rml:subjectMap ?_subject_map .
			OPTIONAL {?_subject_map rml:template ?subject_template .}
			OPTIONAL {?_subject_map rml:reference ?subject_reference .}
			OPTIONAL {?_subject_map rml:constant ?subject_constant}
			OPTIONAL { ?_subject_map rml:class ?rdf_class . }
			OPTIONAL { ?_subject_map rml:termType ?termtype . }
			OPTIONAL { ?_subject_map rml:graph ?graph . }
			OPTIONAL { ?_subject_map rml:graphMap ?_graph_structure .
					   ?_graph_structure rml:constant ?graph . }
			OPTIONAL { ?_subject_map rml:graphMap ?_graph_structure .
					   ?_graph_structure rml:template ?graph . }		   

	# Predicate -----------------------------------------------------------------------
			OPTIONAL {
			?triples_map_id rml:predicateObjectMap ?_predicate_object_map .

			OPTIONAL {
				?_predicate_object_map rml:predicateMap ?_predicate_map .
				?_predicate_map rml:constant ?predicate_constant .
			}
			OPTIONAL {
				?_predicate_object_map rml:predicateMap ?_predicate_map .
				?_predicate_map rml:template ?predicate_template .
			}
			OPTIONAL {
				?_predicate_object_map rml:predicateMap ?_predicate_map .
				?_predicate_map rml:reference ?predicate_reference .
			}
			OPTIONAL {
				?_predicate_object_map rml:predicate ?predicate_constant_shortcut .
			 }


	# Object --------------------------------------------------------------------------
			OPTIONAL {
				?_predicate_object_map rml:objectMap ?_object_map .
				?_object_map rml:constant ?object_constant .
				OPTIONAL {
					?_object_map rml:datatype ?object_datatype .
				}
			}
			OPTIONAL {
				?_predicate_object_map rml:objectMap ?_object_map .
				?_object_map rml:template ?object_template .
				OPTIONAL {?_object_map rml:termType ?term .}
				OPTIONAL {?_object_map rml:languageMap ?language_map.
						  ?language_map rml:reference ?language_value.}
				OPTIONAL {
					?_object_map rml:datatype ?object_datatype .
				}
			}
			OPTIONAL {
				?_predicate_object_map rml:objectMap ?_object_map .
				?_object_map rml:reference ?object_reference .
				OPTIONAL { ?_object_map rml:language ?language .}
				OPTIONAL {?_object_map rml:languageMap ?language_map.
						  ?language_map rml:reference ?language_value.}
				OPTIONAL {?_object_map rml:termType ?term .}
				OPTIONAL {
					?_object_map rml:datatype ?object_datatype .
				}
			}
			OPTIONAL {
				?_predicate_object_map rml:objectMap ?_object_map .
				?_object_map rml:parentTriplesMap ?object_parent_triples_map .
				OPTIONAL {
					?_object_map rml:joinCondition ?join_condition .
					?join_condition rml:child ?child_value;
								 rml:parent ?parent_value.
					OPTIONAL {?_object_map rml:termType ?term .}
				}
			}
			OPTIONAL {
				?_predicate_object_map rml:object ?object_constant_shortcut .
			}
			OPTIONAL {?_predicate_object_map rml:graph ?predicate_object_graph .}
			OPTIONAL { ?_predicate_object_map  rml:graphMap ?_graph_structure .
					   ?_graph_structure rml:constant ?predicate_object_graph  . }
			OPTIONAL { ?_predicate_object_map  rml:graphMap ?_graph_structure .
					   ?_graph_structure rml:template ?predicate_object_graph  . }	
			}
			OPTIONAL {
				?_source a d2rq:Database;
  				d2rq:jdbcDSN ?jdbcDSN; 
  				d2rq:jdbcDriver ?jdbcDriver; 
			    d2rq:username ?user;
			    d2rq:password ?password .
			}
		} 
") )

#set($lmSources = $functions.getListMap($mappings_content, "_source"))

#foreach($lmSource in $lmSources.entrySet())
    #set($source = $lmSource.value.get(0))
    #if($source.access_url)
        #set($sourceUrl = $functions.replace($source.access_url, "file://", ""))
    #elseif($source.path)
        #set($sourceUrl = "./" + $source.path)
    #end
    #set($refForm = $source.ref_form)
    #set($sourceHash = $functions.hash($source._source).replace("-",""))
    #if($refForm == "http://w3id.org/rml/CSV")
        ${h}set(${d}reader_$sourceHash = ${d}functions.getCSVReaderFromFile("$sourceUrl"))
        ${h}set(${d}dataframe_$sourceHash = ${d}reader_${sourceHash}.getDataframe())
    #elseif ($refForm == "http://w3id.org/rml/XPath")
        ${h}set(${d}reader_$sourceHash = ${d}functions.getXMLReaderFromFile("$sourceUrl"))
    #elseif ($refForm=="http://w3id.org/rml/JSONPath")
        ${h}set(${d}reader_$sourceHash = ${d}functions.getJSONReaderFromFile("$sourceUrl"))
    #else
        Error: "No compatible Reader found." 
    #end
    
    #* TODO Handle iterator *#
    #set($iterator = $source.iterator)

    #set($lmTmSource = $functions.getListMap($lmSource.value,"triples_map_id"))
    #foreach($lmTmSourceEntry in $lmTmSource.entrySet())
        #* TODO Check if can be directly accesses *#
        #set($tm = $lmTmSourceEntry.value.get(0))

        #set($subject = $tm.subject_template)
        #* TODO Check if default namespace should be added *#
        #if($tm.subject_template)
            #set($matches = $functions.getReferencesFromTemplate($tm.subject_template))
            #foreach($match in $matches)
                #set($subject = $subject.replace("{"+ $match + "}", "$i." + $match))
            #end
        #* 
            TODO Handle Blank Nodes
            #if ($tm0.subject_termtype=="http://www.w3.org/ns/r2rml#BlankNode")
        *#  
        #elseif($tm.subject_reference)
            #set($subject = "$i." + $tm.subject_reference)
        #elseif($tm.subject_constant)
            #set($subject = $tm.subject_constant)
        #end
        #* TODO Handle $tm.subject_termtype *#

        #* TODO Handle QUADS generation *#
        

        #if($tm.predicate_constant)
            #set($predicate = $tm.predicate_constant)
        #elseif($tm.predicate_template)
            #set($matches = $functions.getReferencesFromTemplate($tm.predicate_template))
            #set($predicate = $tm.predicate_template)
            #foreach($match in $matches)
                #set($predicate = $predicate.replace("{"+ $match + "}", "$i." + $match))
            #end
        #elseif($tm.predicate_reference)
            #set($predicate = "$i." + $tm.predicate_reference)
        #elseif($tm.predicate_constant_shortcut)
            #set($predicate = $tm.predicate_constant_shortcut)
        #end

        #if($tm.object_constant)
            #set($object = $tm.object_constant)
        #elseif($tm.object_template)
            #set($matches = $functions.getReferencesFromTemplate($tm.object_template))
            #set($object = $tm.object_template)
            #foreach($match in $matches)
                #set($object = $object.replace("{"+ $match + "}", "$i." + $match))
            #end
        #elseif($tm.object_reference)
            #set($object = "$i." + $tm.object_reference)
        #end

        ${h}foreach(${d}i in ${d}dataframe_$sourceHash)
            #if($tm.subject_rdf_class)
                $subject a $tm.subject_rdf_class .
            #end
            <$subject> <$predicate> "$object" .
        ${h}end
    #end

#end

#*
    
    
  <!-- GRAPH -->
  #if($tm0.subj_graph_reference)
      ${pa}$tm0.subj_graph_reference${pc}
  #elseif($tm0.subj_graph_constant)
      $tm0.subj_graph_constant
  #elseif($tm0.subj_graph_template)
      $tm0.subj_graph_template
  #end

  #end

  #foreach($tm in $ltm_content.entrySet())
  #set($tm_id = $functions.hash($tm.key.toString()))
  #if ($tm.value.get(0).iterator_tech=="http://semweb.mmlab.be/ns/ql#XPath")
  tripleMaker_$tm_id
  #elseif ($tm.value.get(0).iterator_tech=="http://semweb.mmlab.be/ns/ql#JSONPath")
  tripleMaker_$tm_id
  #else
  tripleMaker_$tm_id
  #end

      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
      
    #foreach($tmp in $tm.value)
        ## <!-- P-O $tmp -->
        #if($tmp.predicate_constant)
            $tmp.predicate_constant
        #elseif($tmp.predicate_template)
            $tmp.predicate_template
        #elseif($tmp.predicate_reference)
            ${pa}$tmp.predicate_reference${pc}
        #end
    #end
    
    #foreach($tmp in $tm.value)
        #if($tmp.subject_rdf_class)<value>$tmp.subject_rdf_class</value>#end
    #end      
    #foreach($tmp in $tm.value)
        #if($tmp.object_constant)$tmp.object_constant
        #elseif($tmp.object_template)$tmp.object_template
        #elseif($tmp.object_reference)${pa}$tmp.object_reference${pc}
        #end
    #end

    #foreach($tmp in $tm.value)
        #if($tmp.subject_rdf_class)
        http://www.w3.org/ns/r2rml#IRI
        #end
    #end
      
      #foreach($tmp in $tm.value)
        ## <!-- Object type $tmp -->
        #if($tmp.object_constant)
            #if($tmp.object_constant.toString().contains("://"))
            http://www.w3.org/ns/r2rml#IRI
            #else
                #if($tmp.object_language)
                http://www.w3.org/ns/r2rml#Literal@$tmp.object_language
                #else
                http://www.w3.org/ns/r2rml#Literal
                #end
            #end
        #elseif($tmp.object_reference)
                #if($tmp.object_language)
                http://www.w3.org/ns/r2rml#Literal@$tmp.object_language
                #else
                http://www.w3.org/ns/r2rml#Literal
                #end
        #else
            $tmp.object_termtype
        #end
      #end
  #end

#foreach($source in $sources)
#set ( $source_descr = $reader.executeQueryStringValue("SELECT DISTINCT ?data_format ?iterator
		WHERE {
            ?tm a rr:TriplesMap;
                rml:logicalSource [
                    rml:source ""$source.data_source"";
                    rml:referenceFormulation ?data_format;
                    rml:iterator ?iterator
                ].
        }
        GROUP BY ?iterator ?data_format
") )

    *#